<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>215361793497-s69ab8oe087f9i3ua712iihgh5ehpuqd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.215361793497-s69ab8oe087f9i3ua712iihgh5ehpuqd</string>
	<key>API_KEY</key>
	<string>AIzaSyCv47bP2bsqa8lc6W9EubeawA8Apn8cG9w</string>
	<key>GCM_SENDER_ID</key>
	<string>215361793497</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.MarkDodd.GT-R-Database</string>
	<key>PROJECT_ID</key>
	<string>r32-r34-gt-r-iphone-app</string>
	<key>STORAGE_BUCKET</key>
	<string>r32-r34-gt-r-iphone-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:215361793497:ios:8a169d144333a7bc3cbdc8</string>
</dict>
</plist>